@if(vm(); as vm) {
<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ vm.article()?.title }}</h1>

      <div class="article-meta">
        <a href="/profile/eric-simons"><img [src]="vm.article()?.author?.image" /></a>
        <div class="info">
          <a href="/profile/eric-simons" class="author">{{ vm.article()?.author?.username }}</a>
          <span class="date">{{ vm.article()?.createdAt | date }}</span>
        </div>
        <button
          class="btn btn-sm "
          [class.btn-primary]="vm.article()?.author?.following"
          [class.btn-outline-primary]="!vm.article()?.author?.following"
          (click)="followUser(vm.article()?.author?.username!)"
        >
          <i class="ion-plus-round"></i>
          &nbsp; Follow {{ vm.article()?.author?.username }}
        </button>
        &nbsp;&nbsp;
        <button
          class="btn btn-sm"
          [class.btn-primary]="vm.article()?.favorited"
          [class.btn-outline-primary]="!vm.article()?.favorited"
          (click)="toggleFavorite()"
        >
          <i class="ion-heart"></i>
          &nbsp; Favorite Article <span class="counter">({{ vm.article()?.favoritesCount }})</span>
        </button>
        @if(userInfo() && vm.isUserArticle()) {
        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-edit"></i> Edit Article
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <i class="ion-trash-a"></i> Delete Article
        </button>
        }
      </div>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <p>
          {{ vm.article()?.description }}
        </p>
        <h2 id="introducing-ionic">Introducing {{ vm.article()?.title }}.</h2>
        <p>{{ vm.article()?.body }}</p>
        <ul class="tag-list">
          @for (tag of vm.article()?.tagList; track $index) {
          <li class="tag-default tag-pill tag-outline">{{ tag }}</li>
          }
        </ul>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <div class="article-meta">
        <a href="/profile/eric-simons"><img [src]="vm.article()?.author?.image" /></a>
        <div class="info">
          <a href="/profile/eric-simons" class="author">{{ vm.article()?.author?.username }}</a>
          <span class="date">{{ vm.article()?.createdAt | date }}</span>
        </div>

        <button class="btn btn-sm "  class="btn btn-sm "
          [class.btn-primary]="vm.article()?.author?.following"
          [class.btn-outline-secondary]="!vm.article()?.author?.following"
          (click)="followUser(vm.article()?.author?.username!)">
          <i class="ion-plus-round"></i>
          &nbsp; Follow Eric Simons
        </button>
        &nbsp; @if(userInfo() && vm.isUserArticle()) {
        <button class="btn btn-sm btn-outline-secondary">
          <i class="ion-edit"></i> Edit Article
        </button>
        <button class="btn btn-sm btn-outline-danger">
          <i class="ion-trash-a"></i> Delete Article
        </button>
        }
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        @if(userInfo()) {
        <div class="card comment-form">
          <div class="card-block">
            <textarea
              [formControl]="commentForm"
              class="form-control"
              placeholder="Write a comment..."
              rows="3"
            ></textarea>
          </div>
          <div class="card-footer">
            <img [src]="userImage()" class="comment-author-img" />
            <button
              class="btn btn-sm btn-primary"
              (click)="addComment()"
              [disabled]="!commentForm.value"
            >
              Post Comment
            </button>
          </div>
        </div>
        } @else {
        <p>
          <a href="#/login" class="" aria-label="login"> Sign in </a> or
          <a href="#/register" class="" aria-label="register"> sign up </a> to add comments on this
          article.
        </p>

        } @for (comment of vm.comments(); track $index) {
        <div class="card">
          <div class="card-block">
            <p class="card-text">
              {{ comment.body }}
            </p>
          </div>
          <div class="card-footer">
            <a [routerLink]="`/profile${comment.author.username}`" class="comment-author">
              <img [src]="comment.author.image" class="comment-author-img" />
            </a>
            &nbsp;
            <a [routerLink]="`/profile/${comment.author.username}`" class="comment-author"
              >Jacob Schmidt</a
            >
            <span class="date-posted">{{ comment.updatedAt | date }}</span>

            @if( userInfo()?.username === comment.author.username) {
            <button class="btn btn-sm btn-outline-danger" (click)="deleteComment(comment.id)">
              <i class="ion-trash-a"></i> Delete Comment
            </button>
            }
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
}
